body {
  font-family: Arial, Helvetica, sans-serif;
}

.notification {
  color: #933434;
  text-decoration: none;
  padding: 10px 8px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: silver;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
.fa {
    font: normal normal normal 30px/1 FontAwesome !important;
}
.modal-dialog {
    width: 300px !important;
    margin: 40px 250px !important;
}
.modal-header {
    background-color: antiquewhite;
        font-family: system-ui;
}
  .dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top:56px;
  margin-left:110px;
}

.dropdown-content a {
  float: none !important;
  color: black;
  padding: 12px ;
  text-decoration: none;
  display: block;
  text-align: left !important;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.modal-dialog2 {
    width: 600px !important;
    margin: 150px 360px !important;
}
.modal-dialog3 {
    width: 500px !important;
    margin: 200px 400px !important;
}
