<div th:include="/layout/header"></div>
<link rel="stylesheet" th:href="@{/style.css}"/>

	
		<div class="containeradd" style="margin-left: 400px;margin-top: 200;">
			<div class="row">
				
				<div class="col-sm-11">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Payment</h3>
						</div>
						<!-- <form role="form" id="quickForm" 
							th:action="@{/admin/addRole}" method="POST">
							<div class="card-body">
								<div class="form-group row">
									<div class="col-sm-2">
										<label for="exampleInputEmail1">Amount</label>
									</div>
									<div class="col-sm-6">
										<input type="text" name="role" id="role" required
											class="form-control" placeholder="Enter Amount to Pay">
										<span class="validation-message" id="messages"></span>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<button type="button" id="change" onclick="confirm_update()"
									class="btn btn-primary">Pay</button>
								<button type="reset" class="btn btn-warning mr-2">Reset</button>
							</div>
						</form> -->
						<form method="post" th:action="@{/pgredirect}">
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                <h3>Welcome</h3>
                <p>You are 30 seconds away from earning your own money!</p>
            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Welcome to Paytm Payment</h3>
                        <div class="row register-form">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <input id="ORDER_ID" tabindex="1" maxlength="20" size="20"
                                           name="ORDER_ID" autocomplete="off" class="form-control" >
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Customer ID" value=""
                                           name="CUST_ID"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="INDUSTRY_TYPE_ID" value=""
                                           name="INDUSTRY_TYPE_ID"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Channel" value=""
                                           name="CHANNEL_ID"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Amount" value=""
                                           name="TXN_AMOUNT"/>
                                </div>
                                <!--  <input type="submit" class="btnRegister"  value="Pay with Paytm"/>   -->
                                <button type="submit" class="btnRegister" style="align : center">Pay with Paytm</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
					</div>
				</div>
				<div class="col-md-6"></div>
			</div>
		</div>
	</section>
</div>
<div th:include="/layout/footer"></div>
<script type="text/javascript">
	function confirm_update() {
		var data = $('#role').val();
		if (data == "") {
			$('#messages').text("please enter Role");
		} else {
			$('#change').attr('disabled', 'disabled');
			$('#quickForm').submit();
		}
	}
</script>